body {
    margin: 0;
    background-color: #1C1C1C;
}

.container{
    display: block;
    justify-content: left;
    margin-top: 5rem;
    margin-left: 5rem;
    background-color: #1F2937;
    width: 75%;
    padding: 5rem;
}


h1{
    font-size: 40px;
    font-family: 'Karla', sans-serif;
}


.main-heading-1{
    color: white;
}

.main-heading-2{
    color: #4ADF86;
}

.sub-heading{
    display: block;
    color: #D5D4D8;
    margin-bottom: 1rem;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
}

.password-length{
    display: flex;
}

.sub-heading--length{
    color: #D5D4D8;
    margin-bottom: 1rem;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    padding-top: 4px;
}

.btn-generate{
    padding: 9px 17px 9px 17px;
    background-color: #10B981;
    border: none;
    color: white;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.divider{
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
}

.password-container{
    display: flex;
    
    /*justify-content: space-evenly;*/
}

.btn-password-block-1,
.btn-password-block-2,
.length{
    border: none;
    background-color: #273549;
    width: 211px;
    height: 39px;
    margin-right: 24px;
    border-radius: 6px;
    color: #55F991;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.length{
    background-color: #2F3E53;
    width: 3rem;
    text-align: center;
}

/*
.btn-password-block-2{
    border: none;
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    color: #55F991;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
*/